
<!doctype html>
<html lang="en" ng-app="public">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="http://47.52.72.227:8000/static/favicon.ico">
    <link rel="stylesheet" href="./css/NanumSquare-master/nanumsquare.css">
    <link rel="stylesheet" href="./css/result.css">
    <link rel="stylesheet" href="./css/style.css">
    
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/index_media.css">
    
    <title>EnergyChain</title>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4968382397397487",
    enable_page_level_ads: true
  });
</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113878921-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113878921-1');
    </script>
</head>
<body ng-controller="language">
<nav id="nav">
    <div class="content">
        <a href="/" class="logo"><img src="./images/index_logo_03.png" alt="logo"></a>
        <ul class="menu">
            <li><a href="#">主页</a></li>
            <li><a href="#/d2">能源链</a></li>
            <li><a href="#d3">能源宝</a></li>
            <li><a href="#d4">应用场景</a></li>
            <li><a href="#d5">视点</a></li>
            <li><a href="#d6">团队</a></li>
            <li><a href="#d7">合作伙伴</a></li>
            <li><a href="#"></a></li>   
        </ul>
    </div>
    <div class="mobile_btn active">
        <span></span>
        <strong></strong>
        <i></i>
    </div>
</nav>
<div id="mobile_nav">
    <ul class="menu">
        <li><a href="#">主页</a></li>
        <li><a href="#d2">能源链</a></li>
        <li><a href="#d3">能源宝</a></li>
        <li><a href="#d4">应用场景</a></li>
        <li><a href="#d5">视点</a></li>
        <li><a href="#d6">团队</a></li>
        <li><a href="#d7">合作伙伴</a></li>
        <li><a href="#"></a></li>
    </ul>
</div>
    <div id="banner">
        <div class="view">
            <div id="letter" class="info headtext-in" style="display: none">
                <p class="banner_text1" ng-bind="language.d92"></p>
                <p class="banner_text2" ng-bind="language.d146"></p>
                <p ng-if="language.dlangflag" class="banner_text3 " ng-bind="language.d165"></p>
                <p ng-if="!language.dlangflag" class="banner_text3 " ng-bind="language.d1651"></p>
                <p ng-if="!language.dlangflag" class="banner_text4 " ng-bind="language.d1652"></p>
            </div>
            <div id="Triones"class="info headtext-in" >
                <p class="banner_text8 " ng-bind="language.d173"></p>
                <p class="banner_text3 " ng-bind="language.d165a"></p>
            </div>
            <a  style="display: none"  href="{{language.d167}}" class="link open headtext-in letterbtn"><span ng-bind="language.d166"></span>&nbsp;<i class="icon_arrow"></i></a>
            <a  href="{{language.d167a}}" class="link open headtext-in Trionesbtn"><span ng-bind="language.d166a"></span>&nbsp;<i class="icon_arrow"></i></a>
            <ul class="btn letterbtnbtn headtext-in" style="display: none" >
                <li >
                    <a  href="https://github.com/ontio" target= _blank><span>GitHub</span>&nbsp;<i class="icon_arrow"></i></a>
                </li>
                <li >
                    <a href="https://discordapp.com/invite/4TQujHj" class="banner_one"><span ng-bind="language.d77"></span>&nbsp;<i class="icon_arrow"></i></a>
                </li>
            </ul>
            <ul class="btn  Trionesbtnbtn headtext-in" >
                <li  >
                    <a href="https://goo.gl/forms/UuSf4YN0H3Y3dDqm2" target= _blank><span ng-bind="language.d171"></span>&nbsp;<i class="icon_arrow"></i></a>
                </li>
                <li >
                    <a  href="{{language.d174}}" class="banner_one "><span ng-bind="language.d172"></span>&nbsp;<i class="icon_arrow"></i></a>
                </li>
            </ul>
            <div class="dot-wrapper" >
                <div class="dot-content">
                    <span id="dotTriones" class="dot-point" style="background-color: #32a4be"> </span> 
                    <span id="dotletter"  class="dot-point"  > </span>
                </div>
            </div>
        </div>
    </div>
    <div id="/d2"></div>
    <main id="main">
        <div class="content">
            <div class="first_info">
                <p class="title" ng-bind="language.d11"></p>
                <p class="subtitle first" ng-bind="language.d12"></p>
                <p class="subtitle" ng-bind="language.d162"></p>
                <p class="subtitle" ng-bind="language.d163"></p>
                <p class="subtitle last" ng-bind="language.d164"></p>
            </div>
            <div class="info_part part3">
                <p class="title" ng-bind="language.d38"></p>
                <ul class="menu">
                    <li>
                        <i id="d39T" class="icon_l"></i>
                        <div class="text">
                            <p class="text1" ng-bind="language.d39T"></p>
                            <p class=" info_part-item-d" ng-bind="language.d40"></p>
                        </div>
                        <div id="d39D" class="menu_posi">
                            <h3 ng-bind="language.d39"></h3>
                            <p ng-bind="language.d40"></p>
                        </div>
                    </li>
                    <li>
                        <i id="d41T" class="icon_l"></i>
                        <div class="text">
                            <p class="text1" ng-bind="language.d41T"></p>
                            <p class=" info_part-item-d" ng-bind="language.d42"></p>
                            <!--<p class="text1">Blockchain</p>
                            <p class="text1">Frameworks</p>-->
                        </div>
                        <div id="d41D" class="menu_posi">
                            <h3 ng-bind="language.d41"></h3>
                            <p ng-bind="language.d42"></p>
                        </div>
                    </li>
                    <li>
                        <i id="d43T" class="icon_l"></i>
                        <div class="text">
                            <p class="text1" ng-bind="language.d43T"></p>
                            <p class=" info_part-item-d" ng-bind="language.d44"></p>
                            <!--<p class="text1">Protocols</p>-->
                        </div>
            <div id="/d3"></div>
                        <div id="d43D" class="menu_posi">
                            <h3 ng-bind="language.d43"></h3>
                            <p ng-bind="language.d44"></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="info_part part2">
                <p class="title" ng-bind="language.d20"></p>
                <ul class="menu">
                     <li>
                        <img src="./images/index2/nyb.png">
                    </li>
                    <li>
                        <p class=" info_part-item-d"><img class="nyb-img" src="./images/index2/blue.png">支持多种逆变器数据格式</p>
                        <p class=" info_part-item-d"><img class="nyb-img" src="./images/index2/blue.png">通信方式依据需要可采用WiFi/GPRS等多种方式</p>
                        <p class=" info_part-item-d"><img class="nyb-img" src="./images/index2/blue.png">支持多达64台逆变器级联</p>
                        <p class=" info_part-item-d"><img class="nyb-img" src="./images/index2/blue.png">使用简单，即插即用，不改变原有光伏、风力发电系统</p>
                        <p class=" info_part-item-d"><img class="nyb-img" src="./images/index2/blue.png">可连接电表、辐射传感器、温度传感器等附加设备</p>
                        <p class=" info_part-item-d"><img class="nyb-img" src="./images/index2/blue.png">可存储25年以上海量数据</p>
                        <p class=" info_part-item-d"><img class="nyb-img" src="./images/index2/blue.png">支持能源链的云矿机监控平台</p>
                    </li>
                </ul>
            </div>
            <div class="info_part part1">
                <p class="title" ng-bind="language.d13"></p>
                <ul class="menu">
                    <li>
                        <img style="width: 100%;" src="/images/index2/jiagou.png">
                    </li>
                </ul>
            </div>
            <div id="/d4"></div>
            <p class="ontology_scenes" ng-bind="language.d78" style="padding-bottom: 0.4rem;border-bottom: 1px solid #d5d5d5;"></p>
            <div class="ontology_ul">
                <ul>
                    <li class="c1">
                        <i class="icon"></i>
                        <p class="title">广义电网</p>
                        <p class="text">广泛聚合分布式能源、需求响应、分布式储能等进行集中管理、统一调度，进而改进分布式电源容量小，并且出力有间断性和随机性的问题，实现不同虚拟发电资源的协同以及分布式能源消纳。为虚拟发电资源的交易提供成本低廉、公开透明的系统平台，基于能源链建立虚拟发电厂信息平台和虚拟发电资源市场交易平台，虚拟发电厂与虚拟发电资源可以在信息平台上进行双向选择。</p>
                    </li>
                    <li class="c1">
                        <i class="icon"></i>
                        <p class="title">能源交易平台</p>
                        <p class="text">能源链为所有的参与者提供一个去中心化、公开透明自制的交易平台。系统允许各种应用程序宿主进入系统，用户在交易平台中既可以获得清洁价廉的能源，同时还可以获得其他的产品和服务。</p>
                    </li>
                    <li class="c1">
                        <i class="icon"></i>
                        <p class="title">信息安全系统</p>
                        <p class="text">能源链去中心化的本质有助于解决物理信息系统中面临的部分安全问题，在感知执行层安全上，每个传感器都有自己固定的私钥，并在每次向全网广播数据时，在数据包末尾添加用私钥加密的数字签名。在数据传输层上，系统中节点链接成网状结构，使得数据通路存在冗余。即使攻击者阻断了网络拓扑中的部分数据通路，信息仍然可通过其他数据通路进行传输。在应用控制层上，区块链系统中所有用户的个人信息具有绝对隐私，因此也不存在隐私泄露问题。</p>
                    </li>
                </ul>
                <ul>
                    <li class="c2">
                        <i class="icon"></i>
                        <p class="title">电动汽车</p>
                        <p class="text">在能源链系统我们通过广义电网来实现分布式电桩的部署和应用。在传统电网无法布置或者成本较高的地方，建造光伏、风电充电桩来满足充电汽车或者无人驾驶汽车的日常充电需求。同时无人零售的深入，能源链用户可以直接通过EC来实现充电支付，维修支付，车后服务支付以及汽车广告支付等。</p>
                    </li>
                    <li class="c2">
                        <i class="icon"></i>
                        <p class="title">社区电超市</p>
                        <p class="text">在社区生活中通过部署分布式光伏资源，实现社区能源模型，电池管理，建议一个公共的节约型电力池满足社区日常生活的弹性需求以及应急需求。用户可以建造个人能源系统，买卖电力，太阳能，燃气等能源甚至于日常生活用品，实现收益的同时也实现个人从单纯的能源消费者到能源生产者的转变。结合社区广告\公告牌，发布供求信息以及其他信息，获取额外的广告收益。</p>
                    </li>
                    <li class="c2">
                        <i class="icon"></i>
                        <p class="title">碳排放权</p>
                        <p class="text">能源链能够为碳排放权的认证和碳排放的计量提供一个智能化的系统平台。给予每一单位的碳排放权专有 ID，加盖时间戳，并记录在区块链中。光伏、风力发电企业通过能源宝采集每台机组的发电量以及时间实时向能源链系统进行更新；能源链将根据发电公司的机组排放情况，采用智能合约方式自动确认碳排放权并且量化；碳交易时，每当碳排放权发生一次所有权转移，交易信息即记录在区块链中，并且不可篡改；能源链系统将自动进行数字资产增减。</p>
                    </li>
                </ul>
                <ul>
                    <li class="c3">
                        <i class="icon"></i>
                        <p class="title">多能源协同</p>
                        <p class="text">能源链能够为多能源系统提供一个去中心化的系统平台。采用区块链记录不同能源系统的实时生产信息及其成本，存在跨能源类型的市场时，可记录多个能源系统之间的交易及其价格信息，在此基础上实时生成各地区各类能源的边际价格(例如节点电价、节点气价、节点热价)； 不同能源系统可以通过区块链中的边际价格信息对自身系统的运行进行优化，或通过签署智能合约，根据边际价格信息执行自动调度指令，并且根据边际价格信息进行能量费用结算。</p>
                    </li>
                    <li class="c3">
                        <i class="icon"></i>
                        <p class="title">能源市场结算</p>
                        <p class="text">能源链为能源市场提供快速、低成本和透明的调度优化和管理，同时根绝地域不同结合当地市场价格制定统一的结算单位和结算模式。</p>
                    </li>
                    <li class="c3">
                        <i class="icon"></i>
                        <p class="title"></p>
                        <p class="text"></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="downloads">
            <div class="con">
                <div class="img"></div>
                <div class="info">
                    <p class="title" ng-bind="language.d79"></p>
                    <p class="title" ng-bind="language.d80"></p>
                    <p class="text" ng-bind="language.d89"></p>
                    <a href="javascript:" class="btn">
                        <i class="icon_app_logo"></i>
                        <p class="btn_title" ng-bind="language.d52"></p>
                        <p class="btn_info">ONTology Wallet for Mac OS X</p>
                    </a>
                    <a href="javascript:" class="more"><i class="icon_arrow"></i>{{language.d53}}</a>
                </div>
            </div>
        </div>
        <div id="/d5"></div>
        <div class="team">
            <div class="inner">
                <h3 ng-bind="language.d85"></h3>
                <ul>
                    <li>
                        <img src="images/index/team.jpg"/>
                        <p class="one">your name</p>
                        <p class="two">founder of ontology</p>
                    </li>
                    <li>
                        <img src="images/index/team.jpg"/>
                        <p class="one">your name</p>
                        <p class="two">founder of ontology</p>
                    </li>
                    <li>
                        <img src="images/index/team.jpg"/>
                        <p class="one">your name</p>
                        <p class="two">founder of ontology</p>
                    </li>
                    <li>
                        <img src="images/index/team.jpg"/>
                        <p class="one">your name</p>
                        <p class="two">founder of ontology</p>
                    </li>
                    <li>
                        <img src="images/index/team.jpg"/>
                        <p class="one">your name</p>
                        <p class="two">founder of ontology</p>
                    </li>
                    <li>
                        <img src="images/index/team.jpg"/>
                        <p class="one">your name</p>
                        <p class="two">founder of ontology</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container container_new">
            <div class="news_events">
                <div class="news article">
                    <div class="big_title">
                        <p class="title" ng-bind="language.d86"></p>
                    </div>
                    
                    <div class="news_left">
                        <a href="{{language.d140}}">
                            <div class="img"><i class="icon_bookmark"></i></div>
                            <div class="info">
                                <p class="title" ng-bind="language.d141"></p>
                                <p class="text" ng-bind="language.d142"></p>
                                <p class="time">{{language.d143}} <span ng-bind="language.d144"></span> {{language.d145}}</p>
                            </div>
                        </a>
                    </div>
                    <div class="news_right">
                        <ul>
                            <li>
                                <a href="{{language.d128}}">
                                    <div class="img" ><i class="icon_bookmark"></i></div>
                                    <div class="info">
                                        <p class="title" ng-bind="language.d129"></p>
                                        <p class="text" ng-bind="language.d130"></p>
                                        <p class="time">{{language.d131}} <span ng-bind="language.d132"></span> {{language.d133}}</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="{{language.d134}}">
                                    <div class="img"><i class="icon_bookmark"></i></div>
                                    <div class="info">
                                        <p class="title" ng-bind="language.d135"></p>
                                        <p class="text" ng-bind="language.d136"></p>
                                        <p class="time">{{language.d137}} <span ng-bind="language.d138"></span> {{language.d139}}</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="road_map">
            <p class="title" ng-bind="language.d87"></p>
            <img ng-src="./images/about/{{key}}_footer_img.jpg" class="road_map_img" alt="Road Map">
        </div>
        <div class="letter">
            <div class="inner">
                <h3 ng-bind="language.d73"></h3>
                <p ng-bind="language.d74"></p>
                <input class="one" type="text" placeholder="Your E-mail here">
                <button class="two" ng-bind="language.d88"></button>
            </div>
        </div>
        <div id="/d7" class="container-frend-wrapper">
            <div class="container container-frend">
                <div class="inner">
                    <h3 style="padding-bottom: 0.4rem;border-bottom: 1px solid #d5d5d5;">{{language.d168}}</h3>
                    <ul class="one">
                        <li class="frend_img_li_1">
                            <a target="_blank" href="https://www.sequoiacap.com/">
                                <img src="images/index/sequoia_capital.png"  class="frend_img"/>
                            </a>
                        </li>
                        <li class="frend_img_li_2"> 
                            <a target="_blank" href="http://danhuacap.com">
                                <img src="images/index/danhua_capital.png"class="frend_img"/>
                            </a>
                        </li>
                        <li class="frend_img_li_3">
                            <a target="_blank" href="https://www.matrixpartners.com.cn/">
                                <img src="images/index/matrix.png" class="frend_img"/>
                            </a>
                        </li>
                        <li class="frend_img_li_4">
                            <a target="_blank" href="http://www.zhenfund.com">
                                <img src="images/index/zhenfund.png"  class="frend_img"/>
                            </a>
                        </li>
                    </ul>
                    <ul class="two">
                        <li class="frend_img_li_2_1">
                            <a target="_blank" href="http://tembusupartners.com">
                                <img src="images/index/tembusu.png"  class="frend_img"/>
                            </a>
                        </li>
                        <li class="frend_img_li_2_2"> 
                            <a target="_blank" href="http://www.accomplice.co">
                                <img src="images/index/accomplice.png"class="frend_img"/>
                            </a>
                        </li>
                        <li class="frend_img_li_2_3">
                            <a target="_blank" href="https://www.hashed.com">
                                <img src="images/index/hashed.png" class="frend_img"/>
                            </a>
                        </li>
                        <li class="frend_img_li_2_4">
                            <a target="_blank" href="http://www.onchain.com">
                                <img src="images/index/onchain.png"  class="frend_img"/>
                            </a>
                        </li>
                    </ul>
                    <ul class="two">
                        <li class="frend_img_li_3_0">
                            <a target="_blank" href="https://neo.org/">
                                <img src="images/index/neo.png"  class="frend_img"/>
                            </a>
                        </li>
                        <li class="frend_img_li_3_1">
                            <a target="_blank" href="http://www.baimaohui.net/">
                                <img src="images/index/白帽汇.png"  class="frend_img"/>
                            </a>
                        </li>
                        <li class="frend_img_li_3_2"> 
                            <a target="_blank" href="https://www.slowmist.com/">
                                <img src="images/index/慢雾科技.png"class="frend_img"/>
                            </a>
                        </li>
                        <li class="frend_img_li_3_3"> 
                            <a target="_blank" href="http://cot.io/">
                                <img src="images/index/COT.png"class="frend_img"/>
                            </a>
                        </li>
                    </ul>
                    <ul class="two">
                        <li class="frend_img_li_4_0">
                            <a target="_blank" href="https://dad.one/">
                                <img src="images/index/dad.png"  class="frend_img"/>
                            </a>
                        </li>
                        <li class="frend_img_li_4_2">
                        </li>
                        <li class="frend_img_li_4_1">
                            <a target="_blank" href="http://points.org/">
                                <img src="images/index/points.png"  class="frend_img"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
<div id="back_up"></div>
<footer id="footer">
    <div class="inner">
        <div class="top clearfix">
            <div class="left">
                <img src="images/index_logo_03.png" />
            </div>
            <div class="right">
                <ul>
                    <li><a target="view_window" href="{{language.d150}}"><img src="images/footer_01.png"/></a></li>
                    <li><a target="view_window" href="{{language.d152}}"><img src="images/footer_03.png"/></a></li>
                    <li><a target="view_window" href="{{language.d153}}"><img src="images/footer_04.png"/></a></li>
                    <li><a target="view_window" href=" https://www.instagram.com/nenc_energychain/"><img src="images/footer_09.png"/></a></li>
                    <li><a target="view_window" href="{{language.d154}}"><img src="images/footer_05.png"/></a></li>
                </ul>
            </div>
        </div>
        <div class="center clearfix">
            <ul class="dl">
                <li>
                    <ul class="down_list">
                        <li><a href="#">主页</a></li>
                        <li><a href="#d3">能源宝</a></li>
                        <li><a href="#d5">视点</a></li>
                        <li><a href="#d7">合作伙伴</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </li>
                <li>
                    <ul class="down_list">
                        <li><a href="#d2">能源链</a></li>
                        <li><a href="#d4">应用场景</a></li>
                        <li><a href="#d6">团队</a></li>
                    </ul>
                </li>
            </ul>
            <div class="wei" ng-if="language.d148">
                <div class="right">
                    <p class="one">wechat</p>
                    <img style="width: 86px;" src="images/footer_08.jpg"/>
                </div>
                <div class="foot_posi">
                    <a href="javascript:" class="mo">{{key_lang}}<img src="images/foot_posi.png"/></a>
                    <ul>
                        <li><a href="javascript:" ng-click="lang('cn')">中文</a></li>
                        <li><a href="javascript:" ng-click="lang('en')">English</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dot">Copyright © 2018 The EnergyChain Team</div>
    </div>
</footer>
<script src="./js/jquery-1.10.2.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/style.js"></script>

<script src="./js/index.js"></script>

</body>
</html>